.container {
    padding-top: 40px;
}

.container-title {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}

.img-deco-left,
.img-deco-right {
    width: 25px;
    height: 25px;  
}

.img-deco-left {
    transform: rotate(-45deg);
    display: inline-block;
}

.img-deco-right {
    transform: rotate(45deg);
    display: inline-block;
}

.title-accommodations {
    padding: 0 10px;
    font-weight:900;
}

.text-accommodation {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 30px;
}

.tel-accommodation {
    text-decoration: none;
    color: #483D8B;
    font-weight: bold;
}

.tel-accommodation:hover {
    font-style: italic;
}

.title-form {
    padding-bottom: 20px;
}

textarea.form-control {
    height: 180px;
}

.form-label-cached {
    display: none;
}

.btn {
  background-color: #483D8B;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #fff;
  color: #483D8B;
  border: 1px solid #483D8B;
}

