{% extends "core/base.html" %}

{% load static i18n %}

{% block title %}{% trans "Hébergements | Camping Le Maine Blanc" %}{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/accommodations.css' %}" />
{% endblock %}

{% block content %}
<section class="container" role="region" aria-labelledby="accommodations-title">
    <div class="container-title text-center">
            <img src="{% static 'pictures/peindre.png' %}" alt="" loading="lazy" class="img-deco-left"/>
            <h1 id="accommodations-title" class="title-accommodations">{% trans "Nos hébergements" %} </h1>
            <img src="{% static 'pictures/peindre.png' %}" alt="" loading="lazy" class="img-deco-right"/>
    </div>

    <div class="row">
        <div class="col-md-6 mb-4">
            <div class="card h-100">
                <picture>
                    <source srcset="{% static 'pictures/bus.webp' %}" type="image/webp">
                    <img src="{% static 'pictures/bus.jpg' %}" class="pictures-card card-img-top w-100" alt="{% trans "Photo d'un bus sur parcelle" %}">
                </picture>
                <div class="card-body">
                    <h2 class="card-title">{% trans "Emplacements Tentes, Caravanes, Camping-Cars" %}</h2>
                    <p class="card-text">{% trans "Profitez d’un séjour au plus près de la nature grâce à nos emplacements spacieux et ombragés, avec ou sans électricité, adaptés aux tentes, caravanes et camping-cars. Chaque parcelle est délimitée et située à proximité des sanitaires pour votre confort." %}</p>
                    <p class="card-text">{% trans "Réservez dès maintenant en toute simplicité et laissez-nous vous accueillir dans les meilleures conditions !" %}</p>
                    <a href="{% url 'booking_form' %}" class="btn mt-auto">{% trans "Réserver maintenant" %}</a>
                </div>
            </div>
        </div>

        <div class="col-md-6 mb-4">
            <div class="card h-100">
                <picture>
                    <source srcset="{% static 'pictures/mobil-home.webp' %}" type="image/webp">
                    <img src="{% static 'pictures/mobil-home.jpg' %}" class="pictures-card card-img-top w-100" alt="{% trans "Photo d'un mobil-home" %}">
                </picture>
                <div class="card-body">
                    <h2 class="card-title">{% trans "Location de Mobil-Homes" %}</h2>
                    <p class="card-text">{% trans "Confort et tranquillité vous attendent dans nos mobil-homes tout équipés, idéals pour un séjour en famille ou entre amis. Chaque hébergement dispose d’un espace extérieur avec terrasse, table et chaises, pour profiter pleinement du cadre verdoyant du camping." %}</p>
                    <p class="card-text">{% trans "À l'intérieur, vous trouverez un coin cuisine pratique avec réfrigérateur, plaques de cuisson au gaz, évier, cafetière, micro-ondes et toute la vaisselle nécessaire. La pièce principale est aménagée avec un branchement TV (télévision non fournie), une salle de douche et des toilettes. Tous nos mobil-homes sont également équipés d'une climatisation réversible afin de vous assurer confort et bien-être quelle que soit la saison." %}</p>
                    <p class="card-text">{% trans "La réservation se fait uniquement par téléphone ou via le formulaire de contact afin de vous proposer la meilleure disponibilité." %}</p>
                    <a href="{% url 'reservation_request' %}" class="btn mt-auto">{% trans "Contactez-nous" %}</a>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
