{% extends "core/base.html" %}

{% load static i18n %}

{% block title %}{% trans "Accueil | Camping Le Maine Blanc" %}{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}" />
{% endblock %}

{% block content %}
  <section class="home-image" role="banner" aria-labelledby="home-title">
    <div class="home-content">
      <h1 id="home-title">{% trans "Bienvenue au Camping Le Maine Blanc" %}</h1>
      <p>{% trans "Un coin de nature au cœur de la Gironde" %}</p>
    </div>

    <div class="ribbon" aria-label="{% trans "Ouvert toute l'année" %}">
      <span>{% trans "Ouvert toute l'année" %}</span>
    </div>
  </section>

{% endblock %}