{% extends "core/base.html" %}

{% load static i18n custom_filters %}

{% block title %}{% trans "Informations pratiques | Camping Le Maine Blanc" %}{% endblock %}

{% block styles %}
  <link rel="stylesheet" href="{% static 'css/infos.css' %}" />
{% endblock %}

{% block content %}
<section class="container py-5" role="region" aria-labelledby="infos-title">

    <div class="container-title">
        <img src="{% static 'pictures/peindre.png' %}" alt="" loading="lazy" class="img-deco-left" />
        <h1 id="infos-title" class="title-infos">{% trans "Informations pratiques" %}</h1>
        <img src="{% static 'pictures/peindre.png' %}" alt="" loading="lazy" class="img-deco-right" />
    </div>
    <!--Schedules  -->
    <div class="info-section mb-5">
        <h2 class="under-title-infos">{% trans 'Horaires' %}</h2>
        <ul>
            <li class="mb-3">
                <strong>{% trans 'Accueil :' %}</strong> 
                {% trans "Isabelle et Franck vous accueillent chaque jour de" %} {{ camping_info.welcome_start|format_time_by_locale }} {% trans "à" %} {{ camping_info.welcome_end|format_time_by_locale }} {% trans "et de" %} {{ camping_info.welcome_afternoon_start|format_time_by_locale }} {% trans "à" %} {{ camping_info.welcome_afternoon_end|format_time_by_locale }} {% trans "pour répondre à vos questions et vous accompagner durant votre séjour." %}
            </li>
            <li class="mb-3">
                <strong>{% trans 'Arrivées :' %}</strong> 
                {% trans "Les arrivées se font entre" %} {{ camping_info.arrivals_start_high|format_time_by_locale }} {% trans "et" %} {{ camping_info.arrivals_end_high|format_time_by_locale }} {% trans "en haute saison, et jusqu’à" %} {{ camping_info.arrivals_end_low|format_time_by_locale }} {% trans "en basse saison, afin que chacun puisse s’installer confortablement." %}
            </li>
            <li class="mb-3">
                <strong>{% trans 'Départs :' %}</strong> 
                {% trans "Le jour de votre départ, merci de libérer votre emplacement avant" %} {{ camping_info.departure_end|format_time_by_locale }} {% trans "afin de permettre une bonne organisation pour les prochains arrivants." %}
            </li>
            <li class="mb-3">
                <strong>{% trans "Portail de sécurité :" %}</strong> 
                {% trans "Pour la tranquillité de tous, le portail est fermé de" %} {{ camping_info.portal_start|format_time_by_locale }} {% trans "à" %} {{ camping_info.portal_end|format_time_by_locale }}. {% trans "Merci d’anticiper vos déplacements en conséquence." %}
            </li>
        </ul>
    </div>

    <!-- Accessibility -->
    <div class="info-section mb-5">
        <h2 class="under-title-infos">{% trans 'Accessibilité' %}</h2>
        <p>{% trans "Parce que nous tenons à accueillir chacun dans les meilleures conditions, notre camping dispose d’aménagements adaptés aux personnes à mobilité réduite afin de leur garantir un séjour agréable et serein." %}</p>
    </div>

    <!-- Camping-car -->
    <div class="info-section mb-5">
        <h2 class="under-title-infos">{% trans "Camping-car" %}</h2>
        <p>{% trans "Pour plus de confort, le camping met à disposition des camping-caristes une aire équipée pour : " %}</p>
        <ul>
            <li>{% trans "le remplissage / la vidange des eaux usées" %}</li>
            <li>{% trans "la vidange des caissettes WC" %}</li>
        </ul>
    </div>

    <!-- Payment et conditions -->
    <div class="info-section mb-5">
        <h2 class="under-title-infos">{% trans "Conditions de séjour & Paiement" %}</h2>
        <ul>
            <li class="mb-3">
                <strong>{% trans "Règlement du séjour :" %}</strong>
                {% trans "Le paiement de la location, des taxes, des charges ou de la caution s’effectue dès l’inscription à l’accueil." %}
            </li>
            <li class="mb-3">
                <strong>{% trans "Affichage des tarifs :" %}</strong>
                {% trans "Les montants sont indiqués à l’entrée du camping, à l’accueil, et détaillés ci-dessous." %}
            </li>
            <li class="mb-3">
                <strong>{% trans "Préparation du départ :" %}</strong>
                {% trans "Les clients séjournant en mobil-home sont invités à prévenir l’accueil la veille de leur départ afin d’organiser l’état des lieux." %}
            </li>
            <li class="mb-3">
                <strong>{% trans "Visiteurs et animaux :" %}</strong>
                {% trans "Chaque visiteur doit obligatoirement se présenter à l’accueil dès son arrivée et présenter une pièce d’identité. Les animaux de compagnie sont les bienvenus sous réserve de présenter un carnet de vaccination à jour." %}
            </li>
            <li class="mb-3">
                <strong>{% trans "Conditions de remboursement :" %}</strong>
                {% trans "Aucun remboursement n’est possible en cas de mauvais temps, d’arrivée tardive ou de départ anticipé, sauf circonstances particulières justifiées (ex. : hospitalisation)." %}
            </li>
            <li class="mb-3">
                <strong>{% trans "Annulation par le camping :" %}</strong>
                {% trans "Les propriétaires se réservent le droit d’annuler une réservation en cas de force majeure, d’erreur manifeste de disponibilité, ou de non-respect du règlement intérieur. Dans ce cas, le client sera intégralement remboursé des sommes versées." %}
            </li>
        </ul>
    </div>

    <!-- Prices -->
    <div class="info-section mb-5">
        <h2 class="under-title-infos">{% trans "Tarifs pour l'année" %} {{ other_prices.current_year }}</h2>
        <p class="small text-muted mb-0">{% trans "Taxe de séjour à compter du" %} {{ other_prices.tourist_tax_date|format_date_by_locale }} : {{ other_prices.price_tourist_tax }}€ {% trans "par personne/nuit (incluse dans le prix)" %}</p>
        <p class="small text-muted">{% trans "Tous les prix sont TTC." %}</p>

        <div class="table-wrapper">
            <table class="table table-bordered align-middle">
                <thead class="table-light text-center align-middle">
                    <tr>
                        <th>{% trans "Type d’hébergement" %}</th>
                        <th>{% trans "Basse Saison" %}<br>{% trans "du" %} {{ season_info.low_season_start|format_date_by_locale }} {% trans "au" %} {{ season_info.low_season_end|format_date_by_locale }} </th>
                        <th>{% trans "Moyenne Saison" %}<br>{% trans "du" %} {{ season_info.mid_season_start_1|format_date_by_locale }} {% trans "au" %} {{ season_info.mid_season_end_1|format_date_by_locale }} <br>{% trans "et du" %} {{ season_info.mid_season_start_2|format_date_by_locale }} {% trans "au" %} {{ season_info.mid_season_end_2|format_date_by_locale }} </th>
                        <th>{% trans "Haute Saison" %}<br>{% trans "du" %} {{ season_info.high_season_start|format_date_by_locale }} {% trans "au" %} {{ season_info.high_season_end|format_date_by_locale }} </th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Camping-car -->
                    <tr class="text-center">
                        <td class="container-type">
                            <span class="under-title">{% trans "Camping-car (1-2 pers.)" %}</span><br>
                            <div>
                                <img src="{% static 'pictures/elec.png' %}" alt="{% trans "Electricité" %}" loading="lazy" class=" logo-infos">
                                <span class="full-text">{% trans "Avec électricité" %}</span>
                                <span class="short-text">{% trans "Avec élec." %}</span>
                                <br>
                            </div>
                            <div>
                                <img src="{% static 'pictures/no-elec.png' %}" alt="{% trans "Pas d'électricité" %}" loading="lazy" class="logo-infos">
                                <span class="full-text">{% trans "Sans électricité" %}</span>
                                <span class="short-text">{% trans "Sans élec." %}</span>
                            </div>
                        </td>
                        
                        {# --- Low season --- #}
                        <td class="align-bottom">
                            {% for p in grouped_prices.camping_car %}
                                {% if p.season == "low" %}
                                    {{ p.price_2_persons_with_electricity }}€<br>
                                    {{ p.price_2_persons_without_electricity }}€
                                {% endif %}
                            {% endfor %}
                        </td>

                        {# --- Mid season --- #}
                        <td class="align-bottom">
                            {% for p in grouped_prices.camping_car %}
                                {% if p.season == "mid" %}
                                    {{ p.price_2_persons_with_electricity }}€<br>
                                    {{ p.price_2_persons_without_electricity }}€
                                {% endif %}
                            {% endfor %}
                        </td>

                        {# --- High season --- #}
                        <td class="align-bottom">
                            {% for p in grouped_prices.camping_car %}
                                {% if p.season == "high" %}
                                    {{ p.price_2_persons_with_electricity }}€<br>
                                    {{ p.price_2_persons_without_electricity }}€
                                {% endif %}
                            {% endfor %}
                        </td>
                    </tr>


                    <!-- Caravan / Converted Van -->
                    <tr class="text-center">
                        <td>
                            <span class="under-title">{% trans "Caravane / Fourgon / Van" %}</span><br>
                            <div>
                                <div>
                                    <img src="{% static 'pictures/elec.png' %}" alt="{% trans "Electricité" %}" loading="lazy" class=" logo-infos">
                                        <span class="full-text">{% trans "Avec électricité" %}</span>
                                        <span class="short-text">{% trans "Avec élec." %}</span>
                                        <br>
                                </div>
                                <div>
                                    <img src="{% static 'pictures/no-elec.png' %}" alt="{% trans "Pas d'électricité" %}" loading="lazy" class="logo-infos">
                                    <span class="full-text">{% trans "Sans électricité" %}</span>
                                    <span class="short-text">{% trans "Sans élec." %}</span>
                                </div>
                            </div>
                        </td>
                        <td class="p-0 price-wrapper">
                            <table class="w-100 text-center">
                                <tr>
                                    <td>
                                        <span class="number-people">
                                            {% trans "1 pers." %}
                                        </span>
                                    </td>
                                    <td>
                                        <span class="number-people">
                                            {% trans "2 pers." %}
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    {# --- Low season --- #}
                                    <td>
                                        {% for p in grouped_prices.caravan %}
                                            {% if p.season == "low" %}
                                                {{ p.price_1_person_with_electricity }}€<br>
                                                {{ p.price_1_person_without_electricity }}€
                                            {% endif %}
                                        {% endfor %}
                                    </td>
                                    <td>
                                        {% for p in grouped_prices.caravan %}
                                            {% if p.season == "low" %}
                                                {{ p.price_2_persons_with_electricity }}€<br>
                                                {{ p.price_2_persons_without_electricity }}€
                                            {% endif %}
                                        {% endfor %}
                                    </td>
                                </tr>
                            </table>
                        </td>

                        <!-- Mid Season -->
                        <td class="p-0">
                            <table class="w-100 text-center">
                                <tr>
                                    <td><span class="number-people">{% trans "1 pers." %}</span></td>
                                    <td><span class="number-people">{% trans "2 pers." %}</span></td>
                                </tr>
                                <tr>
                                    <td>
                                        {% for p in grouped_prices.caravan %}
                                            {% if p.season == "mid" %}
                                                {{ p.price_1_person_with_electricity }}€<br>
                                                {{ p.price_1_person_without_electricity }}€
                                            {% endif %}
                                        {% endfor %}
                                    </td>
                                    <td>
                                        {% for p in grouped_prices.caravan %}
                                            {% if p.season == "mid" %}
                                                {{ p.price_2_persons_with_electricity }}€<br>
                                                {{ p.price_2_persons_without_electricity }}€
                                            {% endif %}
                                        {% endfor %}
                                    </td>
                                </tr>
                            </table>
                        </td>

                        <!-- High Season -->
                        <td class="p-0">
                            <table class="w-100 text-center">
                                <tr>
                                    <td><span class="number-people">{% trans "1 pers." %}</span></td>
                                    <td><span class="number-people">{% trans "2 pers." %}</span></td>
                                </tr>
                                <tr>
                                    <td>
                                        {% for p in grouped_prices.caravan %}
                                            {% if p.season == "high" %}
                                                {{ p.price_1_person_with_electricity }}€<br>
                                                {{ p.price_1_person_without_electricity }}€
                                            {% endif %}
                                        {% endfor %}
                                    </td>
                                    <td>
                                        {% for p in grouped_prices.caravan %}
                                            {% if p.season == "high" %}
                                                {{ p.price_2_persons_with_electricity }}€<br>
                                                {{ p.price_2_persons_without_electricity }}€
                                            {% endif %}
                                        {% endfor %}
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                        

                    <!-- Tent / Car Tent -->
                    <tr class="text-center">
                        <td>
                            <span class="under-title">{% trans "Tente / Voiture Tente" %}</span><br>
                            <div>
                                <img src="{% static 'pictures/elec.png' %}" alt="{% trans "Electricité" %}" loading="lazy" class=" logo-infos">
                                <span class="full-text">{% trans "Avec électricité" %}</span>
                                <span class="short-text">{% trans "Avec élec." %}</span>
                                <br>
                            </div>
                            <div>
                                <img src="{% static 'pictures/no-elec.png' %}" alt="{% trans "Pas d'électricité" %}" loading="lazy" class="logo-infos">
                                <span class="full-text">{% trans "Sans électricité" %}</span>
                                <span class="short-text">{% trans "Sans élec." %}</span>
                            </div>
                        </td>

                        <!-- Low Season -->
                        <td class="p-0">
                            <table class="w-100 text-center">
                                <tr>
                                    <td><span class="number-people">{% trans "1 pers." %}</span></td>
                                    <td><span class="number-people">{% trans "2 pers." %}</span></td>
                                </tr>
                                <tr>
                                    <td>
                                        {% for p in grouped_prices.tent %}
                                            {% if p.season == "low" %}
                                                {{ p.price_1_person_with_electricity }}€<br>
                                                {{ p.price_1_person_without_electricity }}€
                                            {% endif %}
                                        {% endfor %}
                                    </td>
                                    <td>
                                        {% for p in grouped_prices.tent %}
                                            {% if p.season == "low" %}
                                                {{ p.price_2_persons_with_electricity }}€<br>
                                                {{ p.price_2_persons_without_electricity }}€
                                            {% endif %}
                                        {% endfor %}
                                    </td>
                                </tr>
                            </table>
                        </td>

                        <!-- Mid Season -->
                        <td class="p-0">
                            <table class="w-100 text-center">
                                <tr>
                                    <td><span class="number-people">{% trans "1 pers." %}</span></td>
                                    <td><span class="number-people">{% trans "2 pers." %}</span></td>
                                </tr>
                                <tr>
                                    <td>
                                        {% for p in grouped_prices.tent %}
                                            {% if p.season == "mid" %}
                                                {{ p.price_1_person_with_electricity }}€<br>
                                                {{ p.price_1_person_without_electricity }}€
                                            {% endif %}
                                        {% endfor %}
                                    </td>
                                    <td>
                                        {% for p in grouped_prices.tent %}
                                            {% if p.season == "mid" %}
                                                {{ p.price_2_persons_with_electricity }}€<br>
                                                {{ p.price_2_persons_without_electricity }}€
                                            {% endif %}
                                        {% endfor %}
                                    </td>
                                </tr>
                            </table>
                        </td>

                        <!-- High Season -->
                        <td class="p-0">
                            <table class="w-100 text-center">
                                <tr>
                                    <td><span class="number-people">{% trans "1 pers." %}</span></td>
                                    <td><span class="number-people">{% trans "2 pers." %}</span></td>
                                </tr>
                                <tr>
                                    <td>
                                        {% for p in grouped_prices.tent %}
                                            {% if p.season == "high" %}
                                                {{ p.price_1_person_with_electricity }}€<br>
                                                {{ p.price_1_person_without_electricity }}€
                                            {% endif %}
                                        {% endfor %}
                                    </td>
                                    <td>
                                        {% for p in grouped_prices.tent %}
                                            {% if p.season == "high" %}
                                                {{ p.price_2_persons_with_electricity }}€<br>
                                                {{ p.price_2_persons_without_electricity }}€
                                            {% endif %}
                                        {% endfor %}
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>


                    <!-- Workers -->
                    <tr>
                        <td class="text-center">
                            <span class="under-title">{% trans "Ouvriers" %}</span><br>
                            <span class="small">({% trans "Tarifs comprenant l'électricité" %})</span>
                        </td>
                        <td colspan="3" class="text-center">
                            <div class="d-inline-block text-start">
                                {% for wp in worker_prices %}
                                    {% if wp.booking_type == "caravan" %}
                                        {% trans "Caravane" %} : {{ wp.worker_week_price }}€ / {% trans "jour" %} <br>
                                    {% elif wp.booking_type == "tent" %}
                                        {% trans "Tente" %} : {{ wp.worker_week_price }}€ / {% trans "jour" %} <br>
                                    {% endif %}
                                {% endfor %}

                                {% for wp in worker_prices %}
                                    {% if wp.booking_type == "other" %}
                                        {% trans "Emplacement pour le week-end (si non libéré)" %} : 
                                        <ul class="list-board mb-0">
                                            {% if wp.weekend_price_without_electricity %}
                                                <li>{{ wp.weekend_price_without_electricity }}€ ({% trans "sans électricité" %})</li>
                                        {% endif %}
                                        {% if wp.weekend_price_with_electricity %}
                                            <li>{{ wp.weekend_price_with_electricity }}€ ({% trans "avec électricité" %})</li>
                                        {% endif %}
                                        </ul>
                                    {% endif %}
                                {% endfor %}
                                </ul>
                            </div>
                        </td>
                    </tr>

                    <!-- Supplements -->
                    <tr >
                        <td class="text-center">
                            <span class="under-title">{% trans "Suppléments emplacements" %}</span>
                        </td>
                        <td colspan="3" class="text-center">
                            <div class="d-inline-block text-start">
                                {% for item in supplements %}
                                    {{ item.label }} : {{ item.price }}€<br>
                                {% endfor %}
                                {% if visitor_prices %}
                                    <span>{% trans "Visiteur : " %}</span>  
                                    <ul class="list-board mb-0">
                                        {% for visitor in visitor_prices %}
                                            <li>{{ visitor.price }}€ : {{ visitor.label }}</li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>


    <!-- Mobil-homes prices -->
    <div class="table-wrapper">
        <table class="table table-bordered align-middle text-center" aria-label="{% trans 'Tarifs des Mobil-homes' %}">
            <caption>{% trans 'Tarifs par type de mobil-home et saison' %}</caption>
            <thead>
                <tr>
                    <th scope="col" class="align-middle text-center">{% trans "Mobil-home" %}</th>
                    <th scope="col" class="align-middle text-center">{% trans "A la nuitée" %}
                        <br>
                        <small>{% trans "(Uniquement en basse et moyenne saison)" %}</small>
                    </th>
                    <th scope="col" class="align-middle text-center">{% trans "Basse Saison" %}<br>{% trans "du" %} {{ season_info.low_season_start|format_date_by_locale }} {% trans "au" %} {{ season_info.low_season_end|format_date_by_locale }}</th>
                    <th scope="col" class="align-middle text-center">{% trans "Moyenne saison" %}<br>{% trans "du" %} {{ season_info.mid_season_start_1|format_date_by_locale }} {% trans "au" %} {{ season_info.mid_season_end_1|format_date_by_locale }} <br>{% trans "et du" %} {{ season_info.mid_season_start_2|format_date_by_locale }} {% trans "au" %} {{ season_info.mid_season_end_2|format_date_by_locale }} </th>
                    <th scope="col" class="align-middle text-center">{% trans "Haute saison" %}<br>{% trans "du" %} {{ season_info.high_season_start|format_date_by_locale }} {% trans "au" %} {{ season_info.high_season_end|format_date_by_locale }} </th>
                </tr>
            </thead>
            <tbody>
                {% for home in mobilhomes %}
                <tr>
                    <!-- Name and description -->
                    <td>
                        <strong>{{ home.name_display }}</strong><br>
                        <small>{{ home.description_display }}</small>

                        {% if home.is_worker_home %}
                            <br>
                            <small class="text-muted"><em>{% trans "Réservé aux ouvriers" %}</em></small>
                        {% endif %}
                    </td>

                    <!-- Price per night -->
                    <td>
                        {% if home.night_price_mid %}
                            {{ home.night_price}} € ({% trans "basse saison" %})<br>
                            {{ home.night_price_mid}} € ({% trans "moyenne saison" %})
                        {% else %}
                            {{ home.night_price }} €
                        {% endif %}
                    </td>

                    {% if home.is_worker_home %}
                        <!-- Special case for worker mobile home: merges the 3 columns -->
                        <td colspan="3">
                            {{ home.worker_price_1p }} {% trans "€/semaine (1 pers)" %}<br>
                            {{ home.worker_price_2p }} {% trans "€/semaine (2 pers)" %}<br>
                            {{ home.worker_price_3p }} {% trans "€/semaine (3 pers)" %}
                        </td>
                    {% else %}
                        <!-- Price per week -->
                        <td>{% if home.week_low %}{{ home.week_low }} {% trans "€/semaine" %}{% else %}-{% endif %}</td>
                        <td>{% if home.week_mid %}{{ home.week_mid }} {% trans "€/semaine" %}{% else %}-{% endif %}</td>
                        <td>{% if home.week_high %}{{ home.week_high }} {% trans "€/semaine" %}{% else %}-{% endif %}</td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <!-- Notes -->
        <div class="mt-3">
            <p class="small text-muted mb-0">
                {% trans "Caution à prévoir : " %}
                <ul class="small text-muted">
                    <li>{% trans "Mobil-home" %} : {{ mobilhome_supplements.mobile_home_deposit }} €</li>
                    <li>{% trans "Ménage" %} : {{ mobilhome_supplements.cleaning_deposit }} €</li>
                </ul>
            </p>
            <p class="small text-muted">
                {% trans "Oreillers et couettes fournis (taies d’oreillers, housses de couette et draps disponibles en location à partir de" %} {{ mobilhome_supplements.bed_linen_rental }} €).
            </p>
            <p class="small text-muted">
                {% trans "Antennes TV fournies (téléviseur non inclus)." %}
            </p>
        </div>
    </div>



    <!-- Plan -->
    <div class="info-section row align-items-center">
        <div class="col-md-6">
            <h2 class="under-title-infos">{% trans "Plan du camping" %}</h2>
            <picture>
                <source srcset="{% static 'pictures/plan.webp' %}" type="image/webp">
                <img src="{% static 'pictures/plan.jpg' %}" alt="{% trans "Plan du camping" %}" class="img-fluid rounded shadow">
            </picture>
        </div>
        <div class="container-plan-text col-md-6 d-flex">
            <div class="contenair-text">
                <p>{% trans "Notre camping propose" %} {{ capacity_info.number_locations }} {% trans "emplacements pour tous les goûts : ombragés, semi-ombragés ou ensoleillés, avec ou sans électricité, pour un séjour confortable et personnalisé." %}</p>
                <p>{% trans "Des fontaines à eau sont réparties dans tout le camping pour vous faciliter la vie pendant votre séjour." %}</p>
                <p>{% trans "Pour ceux qui préfèrent le confort d’un logement, nous disposons également de" %} {{ capacity_info.number_mobile_homes }} {% trans "mobil-homes entièrement équipés." %}</p>
                <p>{% trans "Parcourez notre plan pour découvrir l’agencement des emplacements et des services, et préparer au mieux votre séjour." %}</p>
            </div>
        </div>
    </div>
  
  
</section>
{% endblock %}
